.subcontainer{


    background-color: var(--tertiary-color);

    margin: 1vw;

    padding: 1vw;

}

.subcontainer:hover{

    background-color: var(--secondary-color);

    color: var(--primary-color);

}
