:root{

    --primary-color: #EFF0F2;

    --secondary-color: #0A2B56 ;

    --tertiary-color: #5271FF;

    /*no más de 2 o 3 tipos de colores y estilados de letras*/

}

html{

font-family: "Lora", sans-serif;

}

.text-serif{

    font-family: "PT Serif", serif;
    
}


p{

font-size: 1rem;

}

h1{

    color: var(--secondary-color);

    text-align: center;

    padding: 2rem;

    text-decoration: double;

}

h2{

    text-align: left;

    margin: 1vw;

    padding-bottom: 0.5rem;

}

h3{

    font-size: 2rem;

}